logger:
  file:
    path: /var/log/open5gs/amf.log
  level: info

amf:
  sbi:
    server:
      - address: 0.0.0.0
        port: 7780
    client:
      scp:
        - uri: http://127.0.0.1:7778
  ngap:
    server:
      - address: 0.0.0.0
  metrics:
    server:
      - address: 0.0.0.0
        port: 9090
  guami:
    - plmn_id:
        mcc: 001
        mnc: 01
      amf_id:
        region: 2
        set: 1
  tai:
    - plmn_id:
        mcc: 001
        mnc: 01
      tac: 1
  plmn_support:
    - plmn_id:
        mcc: 001
        mnc: 01
      s_nssai:
        - sst: 3
          sd: 198153
  security:
    integrity_order: [NIA2, NIA1, NIA0]
    ciphering_order: [NEA0, NEA1, NEA2]
  network_name:
    full: open5GS
    short: O5GS
  amf_name: AMF
  time:
    t3502:
      value: 720
    t3512:
      value: 3600
    n1_mode_reg_timer:
      value: 3240
